doctype html
html
  head
    title Hyperoperation
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='https://d3js.org/d3.v4.js')
    script(type='text/javascript' src='javascript/bundle.js')
  body
    h1 Hyperoperation visualization
    span#about Thomas Lamb
    div#chart
    p Click to cycle through different slices of n.
    p This is a visualization of <a href="https://en.wikipedia.org/wiki/Hyperoperation">hyperoperation</a>
    p In broad strokes, hyperoperation is what you're talking about when you ask "what comes after addition, multiplication, and exponentiation?"
    p There are four variables in question:
    p(style="text-align:center;font-size:large") u<span style='vertical-align:super'>m</span> = r
    p And <span style="font-weight:bold">n</span>, which indicates the "level" of the operator:
    table(style="margin:0px auto;font-size:larger")
      thead
        tr
          th n
          th
      tbody
        tr
          td 1
          td +
        tr
          td 2
          td &times;
        tr
          td 3
          td ^
        tr
          td &#x22ee;