doctype html
html
  head
    title Hyperoperation
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='https://d3js.org/d3.v4.js')
    script(type='text/javascript' src='javascript/main.js')
  body
    h1 Hyperoperation visualization
    span#about Thomas Lamb
    div#chart
    p This is a visualization of <a href="https://en.wikipedia.org/wiki/Hyperoperation">hyperoperation</a>