doctype html
html
  head
    title Hyperoperation
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='https://d3js.org/d3.v4.js')
    script(type='text/javascript' src='javascript/bundle.js')
    style(type="text/css").
      .variable {
        font-weight:bold
      }
  body
    h1 Hyperoperation visualization
    span#about Thomas Lamb
    div#chart
    p Click to cycle through different slices of n.
    p This is a visualization of <a href="https://en.wikipedia.org/wiki/Hyperoperation">hyperoperation</a>. In broad strokes, hyperoperation is what you're talking about when you ask "what comes after addition, multiplication, and exponentiation?"
    h3 What is being plotted
    p There are four variables in question. The operands <span class="variable">u</span>, <span class="variable">m</span>, and result <span class="variable">r</span>:
    p(style="text-align:center;font-size:large")
      | u + m = r<br>
      | u &times; m = r<br>
      | u <span style='vertical-align:super'>m</span> = r 
    p And <span class="variable">n</span>, which indicates the "level" of the operator:
    table(style="margin:0px auto;font-size:larger")
      thead
      tbody
        tr
          td 1
          td +
        tr
          td 2
          td &times;
        tr
          td 3
          td ^
        tr
          td &#x22ee;
    h3 Why?
    p This is just for fun. Here are some remaining challenges:
    ol
      li Generalize the operands to the set of reals
      li Generalize the algorithm to allow for different identities
      li Calculate the values of mathematical constants with different identities. Look at the forms of famous formulae with different identities. For example: is <span style="font-family:monospace">e<span style="vertical-align:super">i&pi;</span> = -1</span> still true when identities for its operators are different? If not, what does it look like given an arbitrary set of identities?